@media only screen and (max-width: 600px) {
  body {
    background-color: #363636;
  }
  
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 19%;
    background-color: #545454;
  }
  .topbar-title {
    color: white;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .topbar-author {
    color: white;
    position: absolute;
    top: -30px;
    left: 50px;
    font-size: 40px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  .topbar-spacer {
    background-color: black;
    position: absolute;
    top: 19%;
    left: 0;
    width: 100%;
    height: 3px;
  }
  
  .project-info {
    position: absolute;
    top: 19.6%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #363636;
  }
  .project-info-Title {
    color: white;
    width: 100%;
    text-align: center;
  }
  .projectInfo-spacer {
    position: absolute;
    top: 50px;
    left: 143.5px;
    width: 30%;
    height: 2px;
    background-color: white;
  }
  .projectAbout-desc {
    color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .projectAbout-Status {
    color: white;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .projectAbout-StatusTitle {
    color: red;
    position: absolute;
    top: 365px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  
  
  
  
  .typeofveh {
    color: white;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
  }
  .EverydayPanel {
    position: absolute;
    top: 19.6%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #363636;
  }
  .everyday-panel-title {
    color: white;
    width: 100%;
    text-align: center;
  }
  .EverydayPanel-spacer {
    position: absolute;
    top: 50px;
    left: 143.5px;
    width: 30%;
    height: 2px;
    background-color: white;
  }
}
