@media only screen and (min-width: 1200px) {
  body {
    background-color: #363636;
  }
  
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #545454;
  }
  .topbar-title {
    color: white;
    position: absolute;
    top: -15px;
    left: 20px;
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .topbar-author {
    color: white;
    position: absolute;
    top: -30px;
    right: 50px;
    font-size: 60px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  .topbar-spacer {
    background-color: black;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 3px;
  }
  .project-info {
    position: absolute;
    top: 20.5%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #363636;
  }
  .project-info-Title {
    color: white;
    width: 100%;
    text-align: center;
  }
  .projectInfo-spacer {
    position: absolute;
    top: 50px;
    left: 615px;
    width: 10%;
    height: 2px;
    background-color: white;
  }
  .projectAbout-desc {
    color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .projectAbout-Status {
    color: white;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .projectAbout-StatusTitle {
    color: red;
    position: absolute;
    top: 365px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .typeofveh {
    color: white;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    -webkit-text-stroke-width: 0.95px;
    -webkit-text-stroke-color: black;
  }
  .EverydayPanel {
    position: absolute;
    top: 19.6%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #363636;
  }
  .everyday-panel-title {
    color: white;
    width: 100%;
    text-align: center;
  }
  .EverydayPanel-spacer {
    position: absolute;
    top: 50px;
    left: 615px;
    width: 10%;
    height: 2px;
    background-color: white;
  }
}
